
.WrapperTableInfo .add{

    font-size: xx-large;
    color: rgba(72, 173, 72, 0.72);
    background-color: inherit;
    cursor:pointer;
}



.loginbtn , .refreshbtn {
    background: url(https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login.png) no-repeat 5px 5px #87af89;
    width: 18%;
    /* height: 43%; */
    cursor: pointer;
    border-radius: 50px;
    padding: 9px 0px;
    margin: -9px 198px;
    color: White;
    font-size: 14px;
    text-align: center;
    text-indent: 40px;
    /* display: block; */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .4s;
    -webkit-transition-property: all;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: .4s;
    -moz-transition-property: all;
    position: absolute;
    border: none;
}

.refreshbtn {

    background: url(https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login.png) no-repeat 5px 5px #98beca !important;
    margin: -10px -42px !important;
    text-decoration: none;


}



.loginbtn:hover , .refreshbtn:hover  {
    background-image: url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png');
    background-position: 65px 5px;
    text-indent: 20px;
}



.buttons {

    margin: -1% 32% !important;
    height: auto;
}